.map-container {
  height: 480px;
  width: 100%;
  margin: 0px;
}

.unfolded-map {
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}

.text-output {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-panel-border);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  margin-top: 0px;
  max-height: 360px;
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
  padding: 10px;
}

.text-output code {
  color: var(--vscode-editor-foreground) !important;
}
