.unfolded-map {
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}

.map-container {
  height: 480px;
  width: 100%;
  margin: 0px;
}

.text-output {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-panel-border);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  margin-top: 0px;
  max-height: 360px;
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
  padding: 10px;
}

.text-output code {
  color: var(--vscode-editor-foreground) !important;
}

/* unfolded map styles override */
.side-panel--container {
  padding: 0px !important;
}
.side-bar__close {
  top: 8px !important;
  right: 8px !important;
}
.side-panel__panel-header {
  display: none !important;
}
.side-panel__panel-header__action {
  display: none !important;
}
.side-side-panel__header__bottom {
  padding-top: 10px !important;
}
.side-panel__content__title {
  font-size: 12px !important;
  font-weight: bold;
}
.side-panel__content {
  padding: 10px !important;
  margin-bottom: 32px !important;
}
.bottom-widget--container {
  bottom: 32px !important;
  padding-left: 36px !important;
  padding-right: 18px !important;
}
.map-attributions {
  bottom: 0px !important;
}
